/*----Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/*default parameters
body,
div,
h1,
h2,
h3,
h4,
h5,
a,
header,
li {
    margin: 0;
    padding: 0;
}*/

/*------Landing page-----*/
#carouselExampleFade img {
    width: 100%;
    height: 520px;
}

/*heading on home page and other textual information */
#introduction-heading {
    text-align: center;
}

/*select regions icons on homepage @media query used to change the format of heading and <a> tags at a medium or less screen sizes*/

@media (min-width: 768px){
    .regions-icons h4 {
        text-align: center;
    }

    .region-anchors{
        width: 100%;
        overflow: auto;    
    }

    .region-anchors a {
        float: left;
        width: 18%;
        margin: 9px;
    }

}

@media (max-width: 767.98px) {
    .regions-icons a {
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .regions-icons h4 {
        text-align: center;
    }
}

/*-----Google maps area-------*/

#google-map {
    height: 400px;
    width: 100%;
}

/*-------beach-image-cards------*/
.beach-icons {
    display: inline-block;
}

/*------------Footer------------*/
.footer-sections {
    background-color: rgba(128, 128, 128, 1.0);
}

.footer-sections a,
.footer-sections li, .footer-sections h5 {
    text-decoration: none;
    list-style-type: none;
    margin-left: 0;
    color: black
}

.footer-sections ul {
    padding-left: 0;
}

.socials-links li {
    display: inline-block;
    padding-left: 0.5rem;
    font-size: xx-large;
}