/*----Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/*default parameters*/
body,
div,
h1,
h2,
h3,
h4,
h5,
a,
header,
li {
    margin: 0;
    padding: 0;
}

/*------Landing page-----*/
#homepage-carousel img {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
}

/*heading on home page and other textual information */

#introduction-heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#total-beach-count {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    margin-bottom: 10px;
}

#total-beach-count a {
    margin-left: 10px;
}




/*-----introductory area headings, maps and paragraph on each region page -----*/

.region-intro-and-map{
    margin: 20px;
}
.region-intro-text {
    font-size: large;
    margin-top: 10px;
}

/*select regions icons on homepage @media query used to change the format of heading and <a> tags at a medium or less screen sizes*/

@media (min-width: 768px) {
    .regions-icons h4 {
        text-align: center;
    }

    .region-anchors {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 100%;
        overflow: auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {

    .regions-icons h4 {
        text-align: center;
    }

    .regions-icons a {
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

/*-----Google maps area-------*/

#google-map {
    height: 400px;
    width: 100%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.40);
}

#google-map-north, #google-map-south, #google-map-wales, #google-map-scot, #google-map-irel {
    height: 350px;
    width: 100%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.40);
}

/*-------beach-image-cards - general requirements------*/

.card-img-top {
    width: 100%;
    height: 250px;
}

.card-body button {
    margin-top: 10px;
}

.beach-icons .card-body, .beach-icons img {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.40);
}

/*beach-image-cards - in specific @media queries breakpoints the following are reuired:...*/

@media (min-width: 768px) {

    .beach-cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .beach-icons {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px){

    .card-img-top {
        width: 100%;
        height: 250px;
    }

    .beach-cards-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .beach-icons {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*------Contact Us Form-----*/
.contact-us-form {
    margin-left: 50px;
}

.submit-contact-form {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.form-group {
    width: 75%;
}

/*------------Footer------------*/
.footer-row {
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
    margin-top: 0%;
}

.footer-sections {
    padding-top: 10px;
    font-size: 15px;
}

.footer-sections a,
.footer-sections li,
.footer-sections h5 {
    text-decoration: none;
    list-style-type: none;
    margin-left: 0;
    color: black
}

.footer-sections ul {
    padding-left: 0;
}

.socials-links li {
    display: inline-block;
    padding-left: 0.5rem;
    font-size: large;
}